body {
 background-image: url(http://www.talencia.cat/mypics/max/4/42838_star-wars-background-image.jpg);
 overflow: auto;
 width: 100%;
}

h1{
  font-weight: bold;
  font-size: 40px;
  color: white;
  position: relative;
}

ul{
  font-weight: bold;
  font-size: 30px;
  top: 100px;
  position: relative;
  color: white;
}

h3{
  font-weight: bold;
  font-size: 30px;
  position: relative;
  left: 1150px;
  bottom: 270px;
  color: white;
}

h2{
  color: white;
  top: 500px;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}

ol{
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: absolute;
  left: 300px;
  top: 500px;
  padding: 10px;
}


#ol2{
  float: left;
  margin: 300px;
  top: 210px;
  padding: 10px;
}
